<mat-card class="card">
  <mat-card-content class="card-content">
    <img mat-card-image src="{{ cat.imgPath }}" class="card-img" />
    <div class="content-container">
      <div class="grid-container">
        <div class="grid-item"><mat-card-title>Name:</mat-card-title></div>
        <div class="grid-item">
          <mat-card-title>{{ cat.name }}</mat-card-title>
        </div>
        <div class="grid-item"><mat-card-title>Breed:</mat-card-title></div>
        <div class="grid-item">
          <mat-card-title>{{ cat.breed }}</mat-card-title>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
